<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Account</title>
    <link rel="stylesheet" href="account.css">
</head>
<body>
    <h1>Account Information</h1>
    <div class="container">
        <!--User Account Section-->
        <div class="user-details">
            <h2>User Details</h2>
            <p><strong>Username:</strong> [[${userAccount.username}]]</p>
            <p><strong>Email:</strong> [[${userAccount.email}]]</p>
        </div>
        <!--Bank Account Section-->
        <div class="bank-account">
            <h2>Bank Account Details</h2>
            <p><strong>Balance:</strong> [[${#numbers.formatCurrency(bankAccount.balance)}]]</p>
        </div>
    </div>
    <!-- Transactions Section -->
    <div class="transactions">
        <h2>Transactions</h2>
        <table>
            <thead>
                <tr>
                    <th>Transaction ID</th>
                    <th>Date</th>
                    <th>Amount</th>
                </tr>
            </thead>
            <tbody>
                <tr th:if="${transactions == null or #lists.isEmpty(transactions)}">
                    <td colspan="4">No Transaction Available</td>
                </tr>
                <tr th:each="transaction : ${transactions}">
                    <td th:text="${transaction.transactionId}"></td>
                    <td th:text="${transaction.date}"></td>
                    <td th:text="${#numbers.formatCurrency(transaction.amount)}"></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
